FORMS_ENDPOINT=https://script.google.com/macros/s/TU_SCRIPT_ID/exec
ADMIN_EMAIL=administracion@fundecompe.org
ADMIN_PASSWORD=CAMBIAR_POR_UNA_CLAVE_SEGURA
ADMIN_SESSION_SECRET=CAMBIAR_POR_UNA_CADENA_ALEATORIA_LARGA
COOKIE_SECURE=false
